#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  padding: 0;
  margin: 0;
  display:grid;
  grid-template-columns: 1fr;
  
}

/*
 * Stylesheet for PensioNear frontend
 *
 * tags, classes and id:s are sorted alphabetically, and nested when appropriate
 */

a {
    text-decoration: none;
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: rgba(50, 68, 12, 0.76); //not sure if necessary
    }
}

.assistant_wrapper {
    grid-template-columns: 2fr 3fr;
    gap: 1em;
    margin-top: 2em;
    padding:1em;
    align-items:end;

    .assistant_img {
        justify-self: end;
        padding-bottom: .5em;
        img {
            height: 4em;
        }
    } 
    .assistant_text {
        justify-self: start;
        background-image: url("assets/textbox.svg");
        background-position: center;
        background-repeat: no-repeat; 
        background-size: 80%;
        
        p {            
            margin: 1em;
            margin-left: 3em;
            padding: 3em;
            width: 200px;
        }
    }
}

body {
  margin: 0;
  padding: 0;
  width: 100vb;
  min-height: 100vh;
}


.box-wrapper{
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 1em;
  div.card-buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0em 2em 2em 2em;
    
    //TODO Replace with classes btn + btn_square above (except margin, it should stay here)
    button {
      margin: 8px;
      padding: 2em;
      font-weight: bold;
      background-color: rgba(213, 231, 175, 0.76);
      border: 1px solid black;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 3px;
    }
    //TODO Replace with classes btn_square:hover above
    button:hover{
      background-color: rgba(139, 185, 38, 0.76);
    }
  }
  

  button.detail-btn{
    width: 20%;
    margin: auto;
    padding: 5px;
    background-color: rgba(213, 231, 175, 0.76);
    border: 1px solid black;
  }

  button.detail-btn:hover{
    background-color: rgba(139, 185, 38, 0.76);
  }
}


.btn {
  display: grid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  //filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.26));
  //box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);

  .btn_text {
    text-align: center;
    display: inline;
  }
  
}

.btn:hover {
  text-align: center;
  filter: none;
  box-shadow:inset 0 0 4px 4px rgba(0, 0, 0, 0.26);
  background-color: rgba(139, 185, 38, 0.76);
}
.btn_gray {
  background-color: rgba(255, 255, 255, 0.75);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.26));
  height:2.5em;
  width:2.5em;
  border: 1px solid rgba(0, 0, 0, 0.5);
      img {
          height:80%;
          width:80%;
          object-fit: contain;
    }
 }

 .btn_gray:hover {
  background-color: rgba(255, 255, 255, 0.75);
 }

.btn_round {
  padding: 1em;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  
}
.btn_square {
  background: rgba(213, 231, 175, 0.76);
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}




.form-inline {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1em;

}

h2 {
  justify-self: center;
}

header {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100vb;
  min-height: 1em;
  margin: 0;
  top: 0;
  padding-top: 0.1em;
  padding-left:2em;
  padding-right:2em;
  background: rgba(213, 231, 175, 0.76);

  #headerR {
    grid-template-columns:  3fr 1fr 1fr;
    gap:5px;
    text-align: center;
    justify-items: right;
    align-items: center;
    padding-right: 1em;
  }
}
.home .box_container {
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  margin-left: 8em;
  margin-right: 8em;
  margin-top: 4em;

  .btn_square {
    padding: 2em;
  }
}

.profile {
  .wrapper_profile {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    width:100%;
    gap: 2em;
    
    div {
      width: 90%;
    }
        
    .card_profile  {
      width:80%;
      max-width:500px;
      margin:2em;
      border: 1px solid rgba(0, 0, 0, 0.5);
      justify-self:end;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);

      .card_user {
          align-items: center;
          box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
          text-align: center;
          width:100%;
          grid-template-columns: repeat(2, 1fr);
          border:none;
          //background-color: rgb(0, 255, 0);
          img {
              margin-top:1em;
              height: 150px;
          }
      }

      .card_edit {
          width:100%;
          text-align: right;
          background-color: rgba(255, 255, 255, 0.75);
          border-top:1px solid rgba(139, 185, 38, 0.76);

          p {
              margin-right:1em;
          }

          p:hover {
              //TODO remove when added routing routing 
              text-decoration: underline;
          }
      }
    }
  }
  .wrapper_friends {
    justify-items: center;

    .friend_list {
      grid-template-columns: repeat(3, 1fr);
      gap:2em;
    }

    .friend_create {
      margin-top: 2em;
      justify-items: center;
    }
    
  }
  

  .wrapper_settings {
    grid-template-columns: 1fr 3fr;
    gap:2em;
  
    .btn_gray {
       height:5em;
       width:5em;
       
    }
    .icon_settings {
      justify-self:end;
    }
    .icon_logout {
      justify-self: start;
    }
  }
}


.search_wrapper{
  width: 50%;
  margin: auto;      
      
  div {
    width: 100%;
    position: relative;
    display: flex;
    text-align: center;

    input.search {
      width: 80%;
      padding: 12px 24px;
      border: 1px, solid black;
        
    }
    button.searchButton{
      width: 10%;
      float: left;
      cursor: pointer;
    }
  }      
}
  

.wrapper {
  display: grid;
  .wrapper_friends {
    justify-items: center;

    .friend_list {
      grid-template-columns: repeat(3, 1fr);
      gap:2em;
    }

    .friend_create {
      margin-top: 2em;
      justify-items: center;
    }

    .wrapper_card_friend {
      grid-template-columns: 1fr;
      padding:1em 2em;
      max-width:500px;
      gap:1em;
  
  
      .card_friend_about {
          grid-template-columns: repeat(2, 1fr);
          text-align:center;
          align-items:center;
          img {
           width: 75px;
       }
      }
      .card_friend_qactions {
          grid-template-columns: repeat(3, 1fr);
          
  
          .btn {
              border-radius: 3px;
              margin: 0 .5em;
          }
      }
  }
    
  }
}
